<footer>
    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

<div id="footerwrap">
 <div class="container">
   <div class="row">
     <div class="col-lg-4 col-md-4">
       <h4>About</h4>
       <div class="hline-w"></div>
       <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
     </div>
     <div class="col-lg-4 col-md-4">
       <h4>Social Links</h4>
       <div class="hline-w"></div>
       <p>
         <a href="#"><i class="fa fa-facebook fa-3x" style="color:white"></i></a>
         <a href="#"><i class="fa fa-twitter fa-3x" style="color:white"></i></a>
         <a href="#"><i class="fa fa-instagram fa-3x" style="color:white"></i></a>
         <a href="#"><i class="fa fa-tumblr fa-3x" style="color:white"></i></a>
       </p>
     </div>
     <div class="col-lg-4 col-md-4">
       <h4>Our Address</h4>
       <div class="hline-w"></div>
         <p>
           Some Street,<br>
           Sydney, NSW<br>
           2000, Australia.<br>
         </p>
         <p>
           Email: random@random.com<br>
           Tel: 111 111 111
         </p>
     </div>
   </div>
 </div>
</div>

<div class="copyright">
  <div class="container">
    <div class="col-md-4">
      <p>© 2017 - All Rights with HyunKim</p>
    </div>
    <div class="col-md-8">
      <ul class="bottom_ul">
        <li><a href="#">Hyunkim.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Thoughts</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>

  </footer>
