<div class="container-fluid super-bottom-padding">
  <div class="col-md-12 text-center bottom-padding" style="margin-bottom: 4em;">
    <h1 style="margin-bottom: 1em;">About us</h1>
      <hr>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default categories">
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><b>About Megalighting</b></li>
          <li class="list-group-item">About Us</li>
          <li class="list-group-item">Our Brands</li>
          <li class="list-group-item">Megalighting's Mission and Values</li>
          <li class="list-group-item">Testimonials</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      LIGHTING UP AUSTRALIA SINCE 1967
      <br>
      <br>
      Lighting is crucial to the way we live, work and feel, which is why we’re passionate about helping our customers live brighter with the right lighting choices.

      Since our first Beacon Lighting store opened in Melbourne in 1967, we've grown to become Australia's leading lighting retailer with over 99 stores in Melbourne, Sydney, Canberra, Brisbane, Gold Coast, Perth, Adelaide, Hobart and major regional centres. And we're still proudly Australian owned and operated.
      <br>
      <br>
      THE BRIGHTEST IDEAS FROM AROUND THE WORLD
      <br>
      <br>
      Our buyers shop the world for the latest styles, trends and innovations, ensuring our comprehensive range offers the most up-to-date designs and energy efficient ideas.
      <br>
      <br>
      AUSTRALIA'S LEADING SPECIALIST RETAILER
      <br>
      <br>
      With our extensive range, expert product knowledge and renowned customer service, we are your one-stop shop for all your lighting needs.
      <br>
      <br>
      EXPERTISE THAT INSPIRES
      <br>
      <br>
      You'll find accredited lighting consultants in every store who are experts and have a wealth of product knowledge.

      We also offer an In-home lighting design service ($100 redeemable upon purchase) where a consultant will come to your home and work with you to design your perfect lighting plan. This service is also available in every store free of charge.
    </div>
    <div class="col-md-4">
      THE GREEN LIGHT FOR ENERGY EFFICIENT SOLUTIONS
      <br>
      <br>
      We keep up to date with the most innovative green lighting technologies and designs, so we can offer specialised advice on the most efficient, cost effective ways to light your home or business.
      <br>
      <br>
      CONVENIENT ONLINE SHOPPING AND SHIPPING
      <br>
      <br>
      Whether shopping online or in-store, we offer various shipping options. Choose Free Shipping for orders over $100, Free Shipping on Globe orders over $50, and Click and Collect in-store.

      Beacon Lighting stores accept payment of cash, EFTPOS and major credit cards including American Express, Diners Club (not online), MasterCard and Visa. Gift cards are also available for purchase online, and at all our stores.
      <br>
      <br>
      MEMBER OF THE LIGHTING COUNCIL AUSTRALIA
      <br>
      <br>
      Lighting Council Australia encourages the use of appropriately designed and manufactured high-quality lighting systems and components in the commercial, outdoor and industrial sectors.
    </div>
  </div>
</div>
