
<div class="container-fluid text-center">
  <h1>Contact Us</h1>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-pills">
              <li role="presentation" class="active "><a data-toggle="pill" href="#castle-hill">Castle Hill</a></li>
              <li role="presentation"><a data-toggle="pill" href="#auburn">Auburn</a></li>
              <li role="presentation"><a data-toggle="pill" href="#contact-us">Contact Us</a></li>
            </ul>
            <br>

            <div class="tab-content">
              <div id = "castle-hill" class="well tab-pane fade in active">
                  <h3 style="line-height:40%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#0A4998"></i> Address:</h3>
                  <p style="margin-top:6%;line-height:35%">11/19 Victoria Ave
                  Castle Hill NSW 2154
                  Australia</p>
                  <br>
                  <br>
                  <h3 style="line-height:40%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#0A4998"></i> Email Address:</h3>
                  <p style="margin-top:6%;line-height:35%">megalightingcastlehill@live.com.au</p>
                  <br />
                  <br />
                  <h3 style="line-height:20%;"><i class="fa fa-phone" aria-hidden="true" style="line-height:6%;color:#0A4998"></i> Phone Number:</h3>
                  <p style="margin-top:6%;line-height:35%">02 8850 2117</p>
              </div>

              <div id = "auburn" class="well tab-pane fade in">
                  <h3 style="line-height:40%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#0A4998"></i> Address:</h3>
                  <p style="margin-top:6%;line-height:35%">Unit 1, 10 Newton St
                  Auburn NSW 2144
                  Australia</p>
                  <br>
                  <br>
                  <h3 style="line-height:40%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#0A4998"></i> Email Address:</h3>
                  <p style="margin-top:6%;line-height:35%">megalightingau@yahoo.com</p>
                  <br />
                  <br />
                  <h3 style="line-height:20%;"><i class="fa fa-phone" aria-hidden="true" style="line-height:6%;color:#0A4998"></i> Phone Number:</h3>
                  <p style="margin-top:6%;line-height:35%">02 9647 1810</p>
              </div>

              <div id = "contact-us" class="well tab-pane fade in">
                  <form>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="name">
                                  Name</label>
                              <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                          </div>
                          <div class="form-group">
                              <label for="email">
                                  Email Address</label>
                              <div class="input-group">
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                  </span>
                                  <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                          </div>
                          <div class="form-group">
                              <label for="subject">
                                  Subject</label>
                              <select id="subject" name="subject" class="form-control" required="required">
                                  <option value="na" selected="">Choose One:</option>
                                  <option value="service">General Customer Service</option>
                                  <option value="suggestions">Suggestions</option>
                                  <option value="product">Product Support</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="name">
                                  Message</label>
                              <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                  placeholder="Message"></textarea>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                              Send Message</button>
                      </div>
                  </div>
                  </form>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe width="100%" height="600" src="https://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=11%2F19%20Victoria%20Ave%20%20Castle%20Hill%20NSW%202154+(MegaLighting)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>

<div class="spacer"></div>
